@import "utils/variables";
@import "utils/global";
@import "utils/reset";

body {
  font-family: "Roboto", sans-serif;
  background-color: $main-page-color;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: $main-text-color;
}

// components
@import "components/header";
@import "components/hero";
@import "components/benefits";
@import "components/operation";
@import "components/team";
@import "components/clients";
@import "components/projects";
@import "components/footer";
@import "components/backdrop";
